* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/header.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 150px;
}

.nav-links ul{
	flex: 1;
	text-align: center;
	padding: 8px 12px;
	float: center;
	margin-right: 40px;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	display: block;
	padding: 0 15px;
}

.nav-links ul li:after {
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover:after{
	width: 30%;
}

.nav-links ul ul{
	position: absolute;
	background-color: black;
	opacity: 0.8;
	display: none;
}

.nav-links ul li:hover > ul{
	display: block;
}

.nav-links ul ul li{
	width: 260px;
	height: 30px;
	float: none;
}

.text-box {
	width: 90%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1{
	font-size: 48px;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;
}

.btn1 {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.btn1:hover {
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

nav .fas {
	display: none;

}

@media(max-width: 700px){
	.text-box h1{
		font-size: 16px;
	}

	.nav-links ul li{
		display: block;
	}

	.nav-links{
		position: fixed;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	nav .fas {
		display: block;
		color: #fff;
		margin-bottom: 10px;
		font-size: 22px;
		cursor: pointer;
		margin: 10px;
	}

	.nav-links ul {
		padding: 30px;
	}
}
/* Exhibitions */

.exhibition { 
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

h1{
	font-size: 36px;
	font-weight: 600;
}

p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row1{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.exhibition-col1{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 10px;
	box-sizing: border-box;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

.exhibition-col1:hover{
	box-shadow: 0 0 20px 0px;
}

.exhibition-col1 img{
	margin-top: 5%;
	width: 100%;
	display: block;
}

.layer1{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	transition: 0.5s;
}

.layer1:hover{
	background: rgba(226,0,0,0.7);
}

.layer1 h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer1:hover h3{
	bottom: 49%;
	opacity: 1;
}

.row2{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.exhibition-col2{
	flex-basis: 45%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 10px;
	box-sizing: border-box;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

.exhibition-col2:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.exhibition-col2 img{
	margin-top: 5%;
	width: 100%;
}

.layer2{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	transition: 0.5s;
}

.layer2:hover{
	background: rgba(226,0,0,0.7);
}

.layer2 h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer2:hover h3{
	bottom: 49%;
	opacity: 1;
}

@media(max-width: 700px){
	.row1{
		flex-direction: column;
	}
	.row2{
		flex-direction: column;
	}
}

/* Testimonials */
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.testimonials{
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}

.testimonial-col{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #fff3f3;
	padding: 25px;
	cursor: pointer;
	display: flex;
}

.testimonial-col img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}

.testimonial-col p{
	padding: 0;
}

.testimonial-col h3{
	margin-top: 15px;
	text-align: left;
}

.testimonial-col .fas{
	color: #f44336;
}

@media(max-width: 700px){
	.testimonial-col img{
		margin-left: 5px;
		margin-right: 30px;
	}
}

/* Contact Us */
.cu{
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Banner.png);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}

.cu h1{
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}

@media(max-width: 700px){
	.cu h1{
		font-size: 24px;
	}
}

/* Footer */
.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
}

.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.icons .fab{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}

.far-heart-o{
	color: #f44336;
}

/* About Us Page */
.sub-header{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/Banner.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}

.sub-header h1{
	margin-top: 100px;
}

.about-us{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}

.about-col{
	flex-basis: 48%;
	padding: 30px 2px;	
}

.about-col img{
	width: 100%;
}

.about-col h1{
	padding-top: 0;
}

.about-col p{
	padding: 15px 0 25px;
}

.red-btn{
	border: 1px solid #f44336;
	background: transparent;
	color: #f44336;
}

.red-btn:hover{
	color: #fff;
}

/* Contact Us Page */
.location {
	width: 80%;
	margin: auto;
	padding: 80px 0;
}

.location iframe{
	width: 100%;
}

.contact-us {
	width: 80%;
	margin: auto;
}

.contact-col {
	flex-basis: 48%;
	margin-bottom: 30px;
}

.contact-col div{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.contact-col div .fas{
	font-size: 28px;
	color: #f44336;
	margin: 10px;
	margin-right: 30px;
}

.contact-col div p{
	padding: 0;
}

.contact-col div h5{
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 400;
}

.contact-col input, .contact-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Exhibition Items */
.items {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
}

p {
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.exh-row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.exh-col {
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}

h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.exh-col:hover {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
	transition: 0.5s;
}

@media(max-width: 700px){
	.exh-row{
		flex-direction: column;
	}
}

/* Exhibition images */
.exh-img {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}

.exh-img-col {
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.exh-img-col img {
	width: 100%;
	display: block;
}

.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}

.layer:hover{
	background: rgba(226,0,0,0.7);
}

.layer h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3{
	bottom: 49%;
	opacity: 1;
}

/* Extra Section */
.extra {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.extra-col {
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
}

.extra-col img {
	width: 100%;
	border-radius: 10px;
}

.extra-col p {
	padding: 0;
}

.extra-col h3 {
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: left;
}

/* Tour */
.tour {
	width: 80%;
	margin: auto;
	padding: 60px 0;
}

.tour-left {
	flex-basis: 65%;
}

.tour-left img {
	width: 100%;
}

.tour-left h2 {
	color: #222;
	margin: 30px 0;
	font-weight: 600;
}

.tour-right {
	flex-basis: 32%;
}

.tour-right h3{
	background: #f44336;
	color: #fff;
	padding: 7px 0;
	font-size: 16px;
	margin-bottom: 20px;
}

.tour-right div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #555;
	padding: 8px;
	box-sizing: border-box;
}

.tour-right a {
	text-decoration: none;
	color: #555;
}

#room1 {
	color: #FE6F5D;
}

#room1:hover a {
	color: #FE6F5D;
}

#room2 {
	color: #FFB85C;
}

#room2:hover a {
	color: #FFB85C;
}

#room3 {
	color: #FDD235;
}

#room3:hover a {
	color: #FDD235;
}

#room4 {
	color: #93D35F;
}

#room4:hover a {
	color: #93D35F;
}

#room5 {
	color: #6FC3B6;
	;
}

#room5:hover a {
	color: #6FC3B6;
	;
}